# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "Mi2XWzawAxbnYwa+ub2G6NKHMvCfBjkpQMNv/lD/2Vb2krafjM8n0ewqLyZXciJ6w1e0hO/s+Vsb5+5K/0TXxmCcXWC3UHebUgiVhSTIZs8k0lSGVC1YO4Lh+D3J5FXBhYTevhrF/2I5/ELmJnsP/lOiRZOswPVFlM5AZxKz9OCoLWTQCDZxu10fkbiRJJZYOhkaN9yy6pWFBE431Ji/CzeZYbL/XTbYmIgCirq+KGytXpB5Qa5uUqfGrqyfnk8YnYpVf8Qer3jMZmaOFqqwunJzARMzBDQlcZ5+G2+PM6An4kgv/y0F0dfWC0U5M9Yisx61gClCTrdfYYs94YU7tjFigrTqSObcOH/ZWzqS8Rck8ed3AuB6mpl5wixR/ZqP+H+uDLOwZEOQQREoatorHLKXfRzQvijiVCY/jNqngMeb0fbvqsDGyKsW333M840MmChY18OqXOlpON699YRNAXxdHQqv3MrfLpNTvGfOOWUqemxCNwIG54CSImMcD8gIg2nRXHp42/jmaB15Kn4E9bR0FJpZiVHpkqYNPHGvJiM+B8/iVRA2s3oZZoevOS2dm1g8g7CspZpN4X2fTuPVZMxcSLJdkWraLg2sU4dZiEiWFp9B4/ZZ+ZEC4Fp0B0dnp4dVEBz0KTTgC3XsRclgSuy2xVdWGs6rtoOwUaxIxGc="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml